<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrote new Chat</title>
</head>
<body>
    <h3>Write new chat</h3>

    <form method = "POST" action="/chats" >
        <input name="from" placeholder="Who are you ?">
        <br><br>
        <textarea name="msg">Write your message here</textarea>
        <br><br>
        <input name="to" placeholder="reciver ?" >
        <br><br>
        <button>Create chat</button>
    </form>
</body>
</html>